@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    position: fixed;
    width: 100%;
    background-color:#6A5AE0;
    z-index: 10;
}

#nav-menu{
    font-size:20px;
    padding: 15px 5%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

#logo-img{
    height:50px;
}

.logo-cont{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 20px;
}

.menu{
    flex:0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.nav-links{
    flex: 0.8;
    display:flex;
    justify-content: space-evenly;
    gap:20px;
}

.nav-links>a{
    text-decoration: none;
    color: white;
}

.login-signup{
    border-radius: 10px;
    padding:15px;
    background-color:transparent;
    border: 2px solid white;
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.login-signup:hover{
    color:#6A5AE0;
    border: 2px solid white;
    background-color: white;
    scale: 1.05;
    flex-shrink: 0;
}

.login-signup:hover >a{
    color:#6A5AE0;
    
}

.login-signup>a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.logo-menu{
    display: none;
}

.logo-close{
    display: none;
}

.menu-icon{
    height: 40px;
}

.babypink{
    color: #FFD6DD;
}

.salmonpink{
    color: #FF8FA2;
}

.hero-section{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6A5AE0;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}
.hero-cont{
    flex: 0.5;
    padding: 30px 30px 30px 0px;
    font-size: 20px;
}

.hero-cont>h1{
    padding-top:50px;
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-cont>p{
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 25px;
    width: 80%;
    margin-bottom: 30px;
}

.hero-cont>button{
    background-color: #FF8FA2;
    border: none;
    padding:10px 20px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.hero-cont>button>a{
    text-decoration: none;
    color:white;
}

.hero-cont>button:hover>a{
    color: #FF8FA2;
}

.hero-cont>button:hover{
    background-color:#6A5AE0;
    border: 1px solid #FF8FA2;
    
}

.hero-img{
    flex:0.5;
}

.hero-img>img{
    height:100%;
    width:100%;
    margin:0% -5%;
}



@media (max-width:950px){
    #nav-menu{
        font-size: unset;
    }
    .login-signup>a{
        font-size: unset;
    }
    .logo-menu{
        display: hidden;
        justify-self: end;
    }
    .logo-close{
        display: hidden;
        justify-self: end;
    }
    .hero-img>img{
        height:auto;
    }
}


@media (max-width:650px){

    .hid{
        display: none !important;
    }
    #nav-menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
    .logo-menu{
        display: unset;
        justify-self: end;
    }
    .logo-close{
        display: unset;
        justify-self: end;
    }
    .logo-cont{
        justify-self: unset;
    }
    .nav-links{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        grid-column: span 2;
        padding: 20px;
    }
    .hero-cont{
        flex:unset;
    }
    .hero-cont>p{
        width: 100%;
    }
    .hero-img{
        display: none;
    }
}
