@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/********** Template CSS **********/
:root {
    --royal-violet: #6A5AE0;
    --dull-lavender:#9087E5;
    --pink-salmon: #FF8FA2;
    --pastel-pink: #FFD6DD;
    --hawkes-blue: #C4D0FB;
    --mint-tulip: #C9F2E9;
    --grey-one:#49465F;
    --grey-two:#858494;
    --grey-three:#CCCCCC;
    --grey-four:#E6E6E6;
    --grey-five:#EFEEFC;
    --dark-maroon:#670112;
    --light-maroon:#b26673;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

.back-button{
    height: 50px;
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
  }

  .user-cont>h1{
    margin-bottom: 30px;
  }
  
  
  .history{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-top: 100px;
    border-radius: 30px 20px 0px 0px;
    background-color: white;
    height: 100%;
  }
  
  .history>h1{
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  .history-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%; 
  }
  
  .history-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
    background-color: white;
    width: 80%;
    font-size: 20px;
    color: var(--grey-two);
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .history-item>div>span{
    color: var(--grey-one);
  }
  
  .history-item:hover{
    scale:1.05;
  }

  .history-item>video{
    height: 100%;
    width: 100%;
  }
  
  .quiz-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--grey-one);
  }
  
  .quiz-cont>img{
    height: 50px;
  }
  
  