@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --royal-violet: #6a5ae0;
  --dull-lavender: #9087e5;
  --pink-salmon: #ff8fa2;
  --pastel-pink: #ffd6dd;
  --hawkes-blue: #c4d0fb;
  --mint-tulip: #c9f2e9;
  --grey-one: #49465f;
  --grey-two: #858494;
  --grey-three: #cccccc;
  --grey-four: #e6e6e6;
  --grey-five: #efeefc;
  --dark-maroon:#670112;
  --light-maroon:#b26673;
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  position: fixed;
  width: 100%;
  background-color: var(--royal-violet);
  z-index: 10;
}

#nav-menu {
  font-size: 20px;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

#logo-img {
  height: 50px;
}

.logo-cont {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 20px;
}

.logo-cont>h1 {
  color: white;
}

.menu {
  flex: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-links {
  flex: 0.8;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.nav-links>a {
  text-decoration: none;
  color: white;
}

.login-signup {
  border-radius: 10px;
  padding: 15px;
  background-color: transparent;
  border: 2px solid white;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-signup:hover {
  color: #6a5ae0;
  border: 2px solid white;
  background-color: white;
  scale: 1.05;
  flex-shrink: 0;
}

.login-signup:hover>a {
  color: #6a5ae0;
}

.login-signup>a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.logo-menu {
  display: none;
}

.logo-close {
  display: none;
}

.menu-icon {
  height: 40px;
}

@media (max-width: 950px) {
  #nav-menu {
    font-size: unset;
  }

  .login-signup>a {
    font-size: unset;
  }

  .logo-menu {
    display: hidden;
    justify-self: end;
  }

  .logo-close {
    display: hidden;
    justify-self: end;
  }

  #contact {
    padding-top: 15% !important;
    height: 100% !important;
  }
}

@media (max-width: 650px) {
  #home {
    flex-direction: column-reverse;
    height: unset;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 20px;
  }

  .hero-img>img {
    min-height: unset;
  }

  .home-cont>h1 {
    font-size: 40px;
  }

  .home-cont>p {
    line-height: 22px;
  }

  #about>h1 {
    font-size: 40px;
  }

  .about-cont>p {
    line-height: 20px;
    font-size: 12px;
    letter-spacing: unset;
  }

  .hid {
    display: none !important;
  }

  #nav-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  .logo-menu {
    display: unset;
    justify-self: end;
  }

  .logo-close {
    display: unset;
    justify-self: end;
  }

  .nav-links {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    grid-column: span 2;
    padding: 20px;
  }

  /* ===================================================== */

  #contact {
    padding-top: 25% !important;
    height: 100% !important;
  }

  #contact>h1 {
    font-size: 40px;
  }

  .contact-cont {
    display: flex !important;
    flex-direction: column-reverse;
  }

  .contact-form {
    width: 100% !important;
  }

  .contact-form>input {
    font-size: unset;
  }

  .contact-form>textarea {
    font-size: unset;
  }

  .contact-form>button {
    font-size: unset;
  }

  .contact-info>h2 {
    font-size: 30px;
  }

  .contact-info>div>img {
    height: 20px;
  }

  .contact-info>div {
    font-size: unset;
  }

  .logo-cont {
    justify-self: unset;
  }

  /* =====footer start===== */
  /* =====footer end===== */
}

/* ============================================================================= */
#contact {
  /* background-color: #c4d0fb; */
  padding: 8% 4.5%;
  height: 100%;
}

#contact>h1 {
  font-size: 50px;
  color: #49465f;
  text-align: center;
  margin-bottom: 50px;
}

.contact-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  color: white;
  padding-top: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

.contact-form>input {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border: none;
  background-color: #efeefc;
}

.contact-form>button {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  border: none;
  background-color: #6a5ae0;
}

.contact-form>textarea {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border: none;
  background-color: #efeefc;
}

.contact-info>h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #49465f;
}

.contact-info>p {
  color: #858494;
  width: 80%;
  margin-bottom: 20px;
}

.contact-info>div {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-info>div>img {
  height: 40px;
}

#contact-email>p {
  color: #49465f;
}

#contact-phone>span {
  color: #49465f;
}

#contact-loc>span {
  color: #49465f;
}

/* =========================footer start==================================== */
.footer {
  position: relative;
  margin: 0px 5%;
  padding-top: 50px;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  overflow: hidden;
}

.touch>h3 {
  color: var(--grey-one);
  margin-bottom: 20px;
}

.touch>p {
  color: var(--grey-two);
  margin-bottom: 20px;
  width: 70%;
}

.touch>form>input {
  padding: 10px;
  /* border: none; */
  border-radius: 6px;
}

.touch>form>button {
  padding: 10px;
  background: var(--royal-violet);
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.touch>form>button:hover {
  padding: 10px;
  background: white;
  border: 1px solid var(--royal-violet);
  color: black;
}

.footer-menu>h3 {
  margin-bottom: 20px;
}

.footer-menu>ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-menu>ul>li>a {
  color: var(--grey-two);
}

.footer-help>h3 {
  margin-bottom: 20px;
}

.footer-help>ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-help>ul>li>a {
  color: var(--grey-two);
}

.footer-team>h3 {
  margin-bottom: 20px;
}

.socials>a {
  color: var(--grey-two);
  font-size: 25px;
  margin-right: 5px;
}

.footer-bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.footer-bg .footer-bg-one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.footer-bg .footer-bg-two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 80%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 80%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 80%;
  }
}

/*************footer End*****************/