@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/********** Template CSS **********/
:root {
    --royal-violet: #6A5AE0;
    --dull-lavender:#9087E5;
    --pink-salmon: #FF8FA2;
    --pastel-pink: #FFD6DD;
    --hawkes-blue: #C4D0FB;
    --mint-tulip: #C9F2E9;
    --grey-one:#49465F;
    --grey-two:#858494;
    --grey-three:#CCCCCC;
    --grey-four:#E6E6E6;
    --grey-five:#EFEEFC;
    --dark-maroon:#670112;
    --light-maroon:#b26673;
    --mid-yellow:#ff9b57;
    --mid-green:#53df83;
    --mid-red:#ff7b7b;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--royal-violet);
}


.leaderboard{
    /* width: 50%; */
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: fit-content;
}

.leaderboard>h1{
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

.leader-card{
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: white;
    min-width: 600px;
    transition: all 0.2s ease;
}

.leader-card:hover{
  scale:1.05;
}

.leader-card>div>img{
    height: 70px;
    justify-self: left;
}

.leader-cont{
    display: flex;
    align-items: center;
    gap: 20px;
}

.leader-rank{
    padding:5px 10px;
    border: 3px solid var(--grey-three);
    border-radius: 100%;
    font-size: 12px;
}

.leader-details>p{
    font-size: 20px;
    margin-bottom: 10px;
}

.leader-details>p:nth-child(2){
    color: var(--grey-two);
    font-size: 16px;
}

@media (max-width:950px){
    /* .leaderboard{
        width: 100%;
    } */
  }
  
  @media (max-width:650px){
    .leader-card{
      min-width:unset ;
    }
    .leader-details>p{
        font-size: unset;
    }
    .leader-details>p:nth-child(2){
        color: var(--grey-two);
        font-size: 14px;
    }
}