@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/********** Template CSS **********/
:root {
    --royal-violet: #6A5AE0;
    --dull-lavender:#9087E5;
    --pink-salmon: #FF8FA2;
    --pastel-pink: #FFD6DD;
    --hawkes-blue: #C4D0FB;
    --mint-tulip: #C9F2E9;
    --grey-one:#49465F;
    --grey-two:#858494;
    --grey-three:#CCCCCC;
    --grey-four:#E6E6E6;
    --grey-five:#EFEEFC;
    --dark-maroon:#670112;
    --light-maroon:#b26673;
    --mid-yellow:#ff9b57;
    --mid-green:#53df83;
    --mid-red:#ff7b7b;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

.top-section{
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dull-lavender);
  color: white;
  position: relative;
  overflow: hidden;
}

.top-section>h1{
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.tile{
  background-color: var(--royal-violet);
  border-radius: 20px;
  padding: 5% 5% 0% 5%;
  color: white;
  width: 500px;
  z-index: 10;
}

.quiz-cont{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.quiz-cont>div>h5{
  letter-spacing: 2px;
  font-size: 18px;
  color: var(--grey-three);
  margin-bottom: 10px;
}

.quiz-cont>div>p{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.puzzle-div{
  padding: 10px;
  background-color: var(--dull-lavender);
  border-radius: 20px;
}

/* .puzzle-div>img{

} */

.quiz-res{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 5%;
  background-color: var(--pink-salmon);
  border-radius: 20px 20px 0px 0px;
  font-weight: 700;
}

.quiz-res>div{
  padding: 5%;
  border-radius: 100%;
  border: 20px solid var(--pastel-pink);
}

.quiz-res>p{
  font-size: 20px;
}

.correct-answer-count{
  font-size: 30px;
}

.bottom-section{
  padding: 0% 5% 5% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dull-lavender);
  color: white;
  position: relative;
  overflow: hidden;
}

.bottom-section>h1{
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.bottom-section>button{
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  background-color: var(--royal-violet);
  cursor: pointer;
  color: white;
  border: none;
  transition: all 0.5s ease-in-out;
}

.bottom-section>button:hover{
  scale:1.05;
}

.questions{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
  color: white;
}

.question-set{
  background-color: var(--royal-violet);
  border-radius: 20px;
  padding: 30px;
  z-index: 10;
  cursor: pointer;
  width: 500px;
}

.question-set>p{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 30px;
  color: var(--grey-four);
}


.question-count{
  font-size: 20px;
  padding: 5px 12px;
  color: var(--royal-violet);
  background-color: white;
  border-radius: 100%;
  text-align: center;
  margin-right: 5px;
}

.correct{
  color: var(--mid-green);
}

.incorrect{
  color: var(--mid-red);
}

.round-one{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  overflow: hidden;
}

.round-two{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 70%;
  overflow: hidden;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}


@media (max-width:650px){
  .top-section>h1{
    font-size: 30px;
  }
  
  .tile{
    width: unset;
  }
  .quiz-cont>div>p{
    font-size: 25px;
  }

  .quiz-res>p{
    font-size: unset;
  }

  .bottom-section>h1{
    font-size: 30px;
  }
  
  .question-set{
    width: 100%;
  }

  .question-set>p{
    font-size: unset;
  }

  .round-two{
    height: 20%;
  }
}